#dark .switch{
    background: url(../../assets/sun.svg);
    color: white;
    width: max-content;
    display: block;
    padding: 1rem 1rem;
    position: fixed;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    cursor: pointer;
    margin: 0 0 80vh 95vw;
    transition: var(--transition);
}

#light .switch{
    background: url(../../assets/moon.svg);
    color: white;
    width: max-content;
    display: block;
    padding: 1rem 1rem;
    position: fixed;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    cursor: pointer;
    margin: 0 0 80vh 95vw;
    transition: var(--transition);
}