@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.post__container {
  height: 100%;
  position: relative;
}

.post__container h1 {
  text-align: left;
  margin: 2vh;
}

.post__container .blinkItem {
  animation: blinker 1s linear infinite;
  opacity: 1;
  color: var(--color-white);
}

.post__container .nothing {
  color: var(--color-white);
  cursor: default;
  text-decoration: none;
}

.post__banner {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 65%;
  display: block;
  margin: 3vh auto;
}

.post__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__header h2 {
  font-size: 2.5rem;
  margin: 0 0 0 13vw;
}

.post__header small {
  margin: 0 0 0 14vw;
  display: block;
}

.post__content {
  background-color: transparent;
  border-radius: 0.5rem;
  width: 50%;
  display: block;
  margin: 2vh 0 10vh 13vw;
}

.post__content p {
  font-size: 1.3rem;
}

.post__container hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin: 3vh 0;
}

.post__content .MeFooterBlog {
  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
  width: 11%;
  height: 11%;
  float: left;
  margin-right: 1.5rem;
}

.post__content .post__footer {
  font-size: medium;
  margin: 4vh 0 10vh 5vw;
}

.comments {
  clear: both;
}

.next_previous {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 0 10vh 13vw;
}

.next_previous a {
  color: var(--color-white);
  text-decoration: none;
}

.next_previous a:hover {
  border-bottom: 1px dashed var(--color-white);
  transition: 0.3s ease-in-out 0s;
}

@media screen and (max-width: 1024px) {
  .post__banner,
  .post__content,
  .next_previous {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .post__header h2,
  .post__header small {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .post__banner,
  .post__content,
  .next_previous {
    width: 95%;
  }

  .post__content .MeFooterBlog {
    width: 20%;
    height: auto;
  }
}